[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
requests = "*"
z3-solver = "*"
python-chess = "*"
matplotlib = "*"
numpy = "*"
tensorflow = "==2.0.0"
networkx = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
