services:

  ### INTRODUCTION - 1000

  # Please be nice (ROP)
  be_nice:
    build: "./Introduction/please_be_nice"
    ports:
      - "1001:8080"
    restart: always

  ### ROP - 1100

  # Abuse Me
  abuse_me:
    build: "./ROP/abuse_me"
    ports:
      - "1101:8080"
    restart: always

  # Inspector Gadget
  inspector_gadget:
    build: "./ROP/inspector_gadget"
    ports:
      - "1102:8080"
    restart: always

  ### XSS - 1200

  # Front
  front:
    build: "./XSS/front"
    ports:
      - "1201:3000"
    networks:
      - xss

  # Bot
  bot:
    build: "./XSS/bot"
    restart: always
    networks:
      - xss

  # Unactivated
  unactivated-web:
      build: "./Web/Unactivated"
      ports:
        - "1301:3000"
      restart: always

  # Authentification
  auth-web:
      build: "./Web/Authentification"
      ports:                                                                                                        
        - "1401:3000"                                                                                               
      restart: always

networks:
    xss:
